/* .nav {
  background-color: #666;
  opacity: 0.5;
} */

.nav ul {
  width: 90%;
  display: flex;
  list-style: none;
  margin: 0 auto;
  height: 60px;
}

.nav a {
  text-decoration: none;
  color: #666;
  padding: 10px 10px;
  display: block;
  font-size: large;
} 

.nav a:hover {
  color: #aaa;
}

@media screen and (max-width: 640px) {
  .nav {
    background-color: #0183a0;
    height: 150px;
  }

  .nav ul {
    flex-direction: column;
    padding: 0;
  }

  .nav li {
    border-bottom: solid 1px #fff;
  }
}